body{
  margin:0 auto;
}
.content{
  padding-top: 16px;
  max-width: 1200px;
  margin:0 auto;
}
.panels{
  display: flex;
  justify-content: space-between;
}
.panel{
  width: calc(48% - 16px);
  border-radius: 4px;
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  border-top:1px solid #ccc;
  padding: 16px;
  padding-left: 16px;
  margin-left: 32px;
  position: relative;
}
.panel dl{
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
}
.panel dl dd{
  width: 100%;
}
.stats{
  display: flex;
  flex-wrap: nowrap;
}
.stats p{
  margin-bottom: 0;
  margin-left: 12px;
}
.panel_head{
  display: flex;
  justify-content: space-between;
}
.panel_head button{
  border-radius: 4px;
  background-color:rgb(43, 90, 212);
  color: #fff;;
  border:none;
  font-size: 16px;
  padding-right: 8px;
  padding-left: 8px;
  margin-left: 6px;
}
.doryokuchi,.rank{
  display: flex;
  margin-left: 1rem;
  margin-bottom: 24px;
}
.doryokuchi input{
  width: 13%;
  margin-left: 4px;
  margin-right: 4px;;
}
.tokusei_dougu{
  display: flex;
  justify-content: space-between;
}
.tokusei,.dougu,.seikaku,.terasu{
  width: 48%;
}
.rank select{
  margin-left:7px;
  margin-right: 24px;
}
input{
  max-width: 100%;
}
h2{
  font-size:24px;
}
h3{
  font-size:18px;
}
.field{
  margin-top: 16px;
  border-radius: 4px;
  border:1px solid #ccc;
  padding: 16px;
}
.field_flex{
  display: flex;
  align-items: center;
}
.weather{
  margin-right:2%;
}
.tab{
  position: absolute;
  top: 0;
  left: -64px;
  width:32px;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.tab li{
 height: 16.6%;
 width: 32px;
 border: 1px solid #ccc;
 border-bottom: none;
 border-top-left-radius: 4px;
 border-bottom-left-radius: 4px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.tab li:first-child{
  border-right: none;
}
.tab li:last-child{
  height: 17%;
  border-bottom: 1px solid #ccc;
}
.tab li img{
  width: 70%;
}
.inv{
  visibility: hidden;
}
.change{
  border-radius: 6px;
  border: none;
  color: #fff;
  background-color: rgb(33, 69, 213);
  height: 40px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 36px;
}
.waza{
  display: flex;
}
.waza p{
  margin-bottom: 0;
  margin-left: 12px;
}